@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

html {
  scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url('../images/building/scholomance11.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
nav {
    display: block;
    background: #ffffff;
    position: fixed;
    z-index: 5;
    width: 100%;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    font-family:'Cormorant Garamond', serif;
    border-bottom: 1px solid transparent;
}
#navbar {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    padding: 10px 235px 10px 185px;
}
.item {
    padding: 10px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}
a:hover,
a:hover::after {
    font-weight: 900;
}
.headerpic {
    background-image: url ("client/images/building/scholomance.jpg");
    width: 100%;
    height: 940px;
}
.welcome-container {
    height: 940px;
}
.welcome-text {
    float: left;
    font-family: 'Bodni Moda', serif;
    font-size: 48px;
    line-height: 1.1em;
    font-weight: 600;
    position: absolute;
    top: 400px;
    left: 50px;
    color: white;
}
x {
    font-size: 25px;
    font-weight: 200;
}
.welcome-button {
    padding: 13px 60px;
    font-family:'Cormorant Garamond', serif;
    font-size: 23px;
    font-weight: 900;
    color: white;
    background-color: rgb(180, 17, 66);
    border: none;
    position: absolute;
    top: 520px;
    left: 50px;
}
.welcome-button:hover {
    background-color: rgb(138, 14, 51);
    transition: 0.5s ease;
    cursor: pointer;
}
.further {
    padding: 13px 60px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 880px;
    left: 0;
    right: 0;
    margin-left: auto;
   margin-right: auto;
   vertical-align: middle;
}
.moto {
    padding: 100px 0 120px 0;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: rgb(38, 40, 41);
    color:white;
}
.h1 {
    font-family:'Cormorant Garamond', serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-right: 120px;
}
h2 {
    font-family:'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
}
.aboutus {
    background-color: rgb(180, 17, 66);
    border: 0;
    padding: 15px 30px;
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    margin-right: 100px;
}
.aboutus2 {
    background-color: rgb(180, 17, 66);
    border: 0;
    padding: 15px 30px;
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    margin-right: 30px;
}
.aboutus:hover {
    background-color: rgb(128, 0, 38);
    transition: 0.5s ease;
    cursor: pointer;
}
.aboutus2:hover {
    background-color: rgb(128, 0, 38);
    transition: 0.5s ease;
    cursor: pointer;
}
.menu2 {
    display: flex;
    width:inherit;
    vertical-align: middle;
    object-fit: cover;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    height: 632px;
    width: 100%;
}
.menu2img {
    display: block;
    object-fit: cover;
    width: 632px;
    height: 632px;
}
.menu2text1 {
    position: absolute;
    float: left;
    color: white;
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 40px;
    top:1600px;
    left: 120px;
    text-align: center;
    text-shadow: 1px 1px 8px #000000;
}
.menu2text2 {
    position: absolute;
    float: left;
    color: white;
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 40px;
    top:1600px;
    left: 855px;
    text-align: center;
    text-shadow: 1px 1px 8px #000000;

}
.menu2text3 {
    position: absolute;
    float: left;
    color: white;
    font-family:'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 40px;
    top:1600px;
    left: 1450px;
    text-align: center;
    text-shadow: 1px 1px 8px #000000;
}
.containers {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-content:center;
    width: 100%;
    background-color: black;
    }
    .container {
      background-color: rgb(0, 0, 0);
      width: 100%;
      height: 700px;
      position: relative;
      object-fit: cover;
      }
      .container .image {
        opacity: 0.5;
      }
      .container .text {
        opacity: 1;
      }
      .container:hover .image {
        transition: 0.6s ease;
        opacity: 1;
      }
  
      .container:hover .text {
        visibility: visible;
        opacity: 1;
        transition: 0.8s ease;
        text-shadow: 1px 1px 7px #000000;
      }

    .image {
        object-fit: cover;
        width:100%;
        height: 700px;
    }

    .text {
        opacity: 0.5;
        color: white;
        font-family:'Cormorant Garamond', serif;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        text-justify: inter-word;
        overflow: hidden;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
.footer {
    background-color: rgb(21, 22, 22);
    padding: 80px 10px 45px 10px;
}
.footercontainer {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footercontainers {
    width: 100%;
}
.footerlink {
    color: white;
    text-align: left;
    font-family:'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23pt;
    cursor: pointer;
}
.lineheight {
    line-height: 12pt;
    cursor: default;
}
.adress {
    cursor: default;
}
.footerlink:not(.adress):hover {
    color:rgb(247, 75, 127);
    transform: ease-in 1s;
}
.footerino {
    margin:0;
    border-right: 1px solid white;
    padding: 10px;
    padding-bottom: 30px;
    list-style-type: none;
    height: 310px;
    padding: 20px 130px;
}
h4 {
    color: white;
    font-family:'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 23px;
    text-align: left;
    line-height: 12pt;
}
.socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin-left: 42%;
    margin-right: 42%;
    margin-top: 80px;
    text-align: center;
    color: white;
}
.somediaimg {
    height: 40px;
}
/* Return to Top Button */
#myBtn {
    position: fixed;
    bottom: 50px;
    right: 0px;
    z-index: 99;
    outline: none;
    background-color: rgb(180, 17, 66);
    cursor: pointer;
    height: 60px;
    width: 110px;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(180, 17, 66);
  }
  #myBtn:hover {
    transition: 0.4s ease-in-out;
    background-color: rgb(128, 0, 38);
    border: 2px solid rgb(128, 0, 38);
  }
  .button {
    width: 28px;
    justify-content: center;
    text-align: center;
  }
  .myBtnOn {
    animation: show 1.5s forwards;
    display: block;
  }
  .myBtnOff {
    display: none;
  }
  @keyframes show {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
  }